*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}
.side-nav{
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.nav-links{
    list-style: none;
    position: relative;
    margin-top: 70px;
   
}
.nav-links li{
    padding: 10px 0px;
    
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}
.active {
    background: rgb(158, 56, 56);
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(255, 255,255, 0.4);
    display: none;
}
.nav-links li:hover a{
    color: rgb(39, 59, 148);
    transition: 0.3s;
}

