*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}
.side-nav{
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}